__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

.env
.venv/
venv/
env/

node_modules/
*.local

uploads/
*.log

.pytest_cache/
.coverage
htmlcov/

.idea/
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

alembic.ini